<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="SpecificMethod">
    <groups>
    <run>
    <include name="smoke">
    </include>
    </run>
    </groups>
    
    <classes>
         <class name="testcase.working2">
      
        <methods>
          <include name="test4"/>   <!-- Run only this method -->
       </methods>     
      </class>
      <class name="testcase.working">
        <methods>
          <include name="testone"/>  <!-- Run only this method -->
        </methods>
      </class>
    </classes>
  </test>
</suite>